* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Add this to include padding and border in the element's total width and height */
}

/*Shared styles*/
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.orange{
  color: #FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
}
.section-text{
    max-width: 827px;
    margin: 0 auto;
}
.section-text h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-text p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.text-center{
    text-align: center;
}
/*Main styles*/

header{   /* Very Important: On how to have multiple background images along with background color. The order of background images and background color is important. The first image will be on top of the second image, and the second image will be on top of the background color. So, if you want to have a background color that is visible, you need to place it at the end of the background property. */
    /* background-color: #ffecde; */
    padding-top: 50px;
    background: url("../images/developer.png") , url("../images/header_bg.png") , #ffecde;
    background-repeat: no-repeat;
    background-position: 23px 38px , right bottom;
}
/*Navbar styles*/
nav{
    width: 59%;
    /* border: 2px solid black; */
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 48px;
    font-weight: 900;
}
.menu{
    list-style-type: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
/*Banner styles*/
#banner{
    /* border: 2px solid black; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    max-width: 585px;
}
.banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
.contact-btn{
    background-color: white;
    color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    padding: 18px 35px;
    margin-left: 30px;
    cursor: pointer;
}

.banner-img img{
    max-width: 585px;
    vertical-align: middle; /* Ensure the image is vertically aligned with the text, vertical-align aligns inline, inline-block & table-cell elements vertically relative to their parent.  It is essential for aligning icons, images, and text within containers, or for positioning text within table cells. */
}
/* Main styles */
/* About styles */
#about{
    /* border: 2px solid black; */
    margin-top: 130px;
}
.about-container{
    /* border: 2px solid black; */
    background-color: #ffecde;
    width: 59%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    padding: 131px 156px;
}
.about-info{
    display: flex;
    justify-content: space-around;
}
.info-card p{
    font-size: 20px;
    color: #757575;
    line-height: 30px;
}
.info-card h4{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
/* What I Do styles */
#skills{
    margin-top: 130px;
}
.skills-container{
    /* border: 2px solid black; */
    width: 59%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.skill-cards{
    display: flex;
    gap: 24px;
}
.cards{
    border: 1px solid black;
    max-width: 267px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.15);
}
.cards img{
    max-width: 44px;
    margin-bottom: 30px;
}
.cards h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.cards p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
/* Resume styles */
#resume{
    margin-top: 130px;
}
.resume-container{
    /* border: 2px solid black; */
    width: 59%;
    max-width: 1140px;
    margin: 0 auto;
}
.container-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 113px;
}
.all-cards{
    display: flex;
    gap: 70px;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
}
.card-title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-info{
    font-size: 16px;
    color: #757575;
    margin-bottom: 20px;
}
.card-text{
    font-size: 16px;
    color: #757575;
}
.resume-container hr{
    background-color: #d1d1d1;
    margin: 30px 0;
}
.resume-container button{
    margin-top: 50px;
    text-align: center;
}
/* Footer styles */
footer{
    /* border: 2px solid black; */
    background-color: #ffecde;
    margin-top: 130px;
    padding: 130px 0;
}
.footer-container{
    width: 59%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}
.social{
    max-width: 562px;
}
.icons{
    display: flex;
    gap: 24px;
}
.footer-container .form h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 28px;
}
.form input[type='text'], .form input[type='email'], .form textarea{
    border: none;
    border-radius: 5px;
    width: 460px;
    padding: 18px 30px;
    margin-bottom: 24px;
    color: #757575;
}